:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-extra-dark: #363636;
  --basic-dark: #464646;
  --basic-grey: #7e7e7e;
  --basic-dark-grey: #dcdcdc;
  --basic-light-grey: #e5e5e5;
  --basic-yellow: #f0c52e;
  --basic-light-yellow: #f7e296;
  --special-green: #91c92f;
  --special-rose: #f6dada;
  --special-opacity: rgba(255, 255, 255, 0);
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

.page {
  height: 100%;
}

.page-body {
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  transform: scale(0);
}

.container {
  width: 1320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 10px;
}

.header-main {
  background: var(--basic-light-yellow);
  margin-top: 40px;
  padding: 44px 80px 146px;
}

.logo-link {
  position: absolute;
  top: 20px;
}

.logo-link:hover {
  opacity: 0.6;
}

.logo-link:active {
  opacity: 0.3;
}

.logo {
  width: 163px;
  height: 35px;
}

.nav-menu {
  display: flex;
  flex-direction:column;
}

.nav-menu-top {
  display: flex;
}

.search-form {
  margin-top: -15px;
  margin-right: 100px;
  padding: 0;
  width: 440px;
}

.search-button {
  display: inline-block;
  font-family: "Open Sans", "Roboto", sans-serif;
  font-weight: 300;
  width: 84px;
  height: 50px;
  border: 2px solid var(--basic-black);
  border-bottom: none;
  background: var(--special-opacity);
  text-transform: uppercase;
  opacity: 0;
}

.search-input {
  border: none;
  outline: none;
  background: var(--special-opacity);
  opacity: 0.3;
  width: 306px;
  font-family: "Open Sans", "Roboto", sans-serif;
  font-weight: 300;
  height: 40px;
}

.search-input:hover {
  opacity: 0.6;
  outline: none;
}

.search-input:focus ~ .search-button {
  opacity: 1;
}

.search-button:hover {
  background: var(--basic-black);
  color: var(--basic-white);
}

.search-button:active {
  opacity: 0.3;
}

.profile-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

.nav-action-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  min-width: 220px;
}

.nav-action-link:hover {
  opacity: 0.6;
}

.nav-action-link:active {
  opacity: 0.3;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  position: relative;
}

.nav-item:first-child {
  margin-right: 200px;
}

.nav-item:nth-child(3) {
  margin-right: 111px;
  margin-left: 38px;
}

.nav-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: inline-block;
}

.nav-link:hover {
  opacity: 0.6;
}

.nav-link:active {
  opacity: 0.3;
}

.nav-catalog-link {
  vertical-align: middle;
}

.top-menu:hover .submenu-list {
  opacity: 1;
}

.top-menu::after {
  content: '+';
  font-size: 30px;
  font-weight: 400;
  opacity: 0.3;
  vertical-align: middle;
  margin-left: 19px;
}

.submenu-list {
  list-style-type: none;
  padding-left: 60px;
  padding-bottom: 46px;
  position: absolute;
  display: grid;
  width: 1320px;
  left: -80px;
  z-index: 3;
  box-sizing: border-box;
  background: var(--basic-light-yellow);
  grid-template-areas:
    "a d f"
    "b e ."
    "c . .";
  column-gap: 61px;
  row-gap: 20px;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: min-content min-content min-content;
  opacity: 0;
}

.item-a {
  grid-area: a;
}

.item-b {
  grid-area: b;
}

.item-c {
  grid-area: c;
}

.item-d {
  grid-area: d;
}

.item-e {
  grid-area: e;
}

.item-f {
  grid-area: f;
}

.catalog-link {
  font-family: "Open Sans", "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.catalog-link:hover {
  opacity: 0.6;
}

.catalog-link:focus {
  opacity: 0.3;
}

.top-menu:hover .submenu {
  opacity: 1;
}

.slider {
  margin-top: -150px;
  position: relative;
}

.slider-inner {
  overflow: hidden;
}

.slider-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300%;
  transition: transform 0.8s ease;
  display: flex;
}

.slide-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 1320px;
  padding: 10px 0;
}

.slide-right {
  width: 580px;
  margin-right: 60px;
}

.slide-left {
  margin: auto;
}

.slider-wrap {
  margin-top: 100px;
  display: grid;
  grid-template-rows: repeat(min-content);
  row-gap: 30px;
}

.slider-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0;
}

.slider-text {
  line-height: 20px;
  margin: 0;
}

.link-details {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  width: 220px;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
  background-image:
    linear-gradient(
      var(--special-opacity) 16px,
      var(--basic-yellow) 16px,
      var(--basic-yellow) 24px,
      var(--special-opacity) 24px);
}

.link-details:hover {
  background: var(--basic-yellow);
}

.link-details:active {
  opacity: 0.3;
}

.pagination {
  z-index: 5;
  position: absolute;
  bottom: 145px;
  right: 150px;
}

.pagination-link:nth-of-type(2) {
  margin-left: 18px;
  margin-right: 18px;
}

.pagination-link-active {
  fill: black;
}

.properties{
  display: flex;

}

.properties > tr:last-of-type{
  order: -1;
}

.properties td {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: 0.1em;
  padding-right: 64px;
  padding-bottom: 15px;
  text-align: left;
}

.properties th {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.1em;
  text-align: left;
}

.chapters {
  margin: 106px auto 70px;
}

.chapter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.chapter-link {
  width: 165px;
  display: block;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.03em;
  margin-top: 38px;
}

.chapter-link::before {
  content: '';
  background-color: var(--basic-light-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
}

.chapter-link1::before {
  content: url(../img/popular/popular-1.svg);
}

.chapter-link2::before {
  content: url(../img/popular/popular-2.svg);
}

.chapter-link3::before {
  content: url(../img/popular/popular-3.svg);
}

.chapter-link4::before {
  content: url(../img/popular/popular-4.svg);
}

.chapter-link5::before {
  content: url(../img/popular/popular-5.svg);
}

.chapter-link6::before {
  content: url(../img/popular/popular-6.svg);
}

.chapter-link:hover::before{
  background-color: var(--basic-yellow);
}

.chapter-link:active {
  opacity: 0.3;
}

.advantages {
  background-image: linear-gradient(
    var(--basic-white) 115px,
    var(--basic-light-grey) 115px);
}

.advantages-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  height: 403px;
}

.advantage-services {
  overflow: hidden;
  flex-grow: 1;
}

.advantage-list {
  height: 300%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantage {
  padding-top: 47px;
  padding-left: 123px;
  height: 403px;
}

.advantage-text {
  width: 495px;
  line-height: 30px;
}

.advantage-links {
  width: 280px;
  position: relative;
  margin-top: 86px;
}

.advantage-link {
  width: 280px;
  display: block;
}

.advantage-link-container {
  width: 160px;
  height: 40px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-image:
    linear-gradient(
      var(--special-opacity) 16px,
      var(--basic-yellow) 16px,
      var(--basic-yellow) 24px,
      var(--special-opacity) 24px);
}

.advantage-link:hover .advantage-link-container {
  background: var(--basic-yellow);
}

.advantage-link:active .advantage-link-container {
  background: var(--basic-black);
  color: var(--basic-white);
}

.advantage-link:active {
  background: var(--basic-black);
  color: var(--basic-white);
}

.advantage-rect {
  width: 7px;
  height: 320px;
  background: var(--basic-black);
  position: absolute;
  top: -86px;
  right: 0;
}

.advantage-delivery {
  background-image: url(../img/back/delivery.png);
  background-repeat: no-repeat;
  background-position: right 86px;
}

.advantage-warranty {
  background-image: url(../img/back/warranty.png);
  background-repeat: no-repeat;
  background-position: right 86px;
}

.advantage-credit {
  background-image: url(../img/back/credit.png);
  background-repeat: no-repeat;
  background-position: right 86px;
}

h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  letter-spacing: 0.2em;
}

.brends {
  margin: 90px auto;
  display: flex;
  justify-content: space-between;
}

.brend-link > img {
  filter: saturate(0);
}

.brend-link:hover > img {
  filter: saturate(100%);
}

.information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
  column-gap: 127px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.information p:first-of-type {
  margin: 60px 0 40px 0;
}

.info-text {
  line-height: 28px;
}

.rectangle-black {
  width: 80px;
  height: 7px;
  background: var(--basic-black);
  margin-bottom: 50px;
}

.info-list {
  list-style-type: none;
  margin: 60px 0 0 0;
  padding: 0 0 0 20px;
}

.info-item {
  list-style-type: circle;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.info-form-link {
  width: 260px;
  margin-top: 85px;
}

.info-details {
  width: 260px;
  margin-top: 84px;
}

.footer-main {
  background: var(--basic-extra-dark);
  z-index: 2;
}

.footer-container {
  margin: 46px auto 65px;
}

.footer-navigation{
  display: flex;
  justify-content: flex-end;
  column-gap: 40px;
}

.footer-action-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  column-gap: 40px;
}

.footer-profile-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.footer-action-link {
  color: var(--basic-white);
  opacity: .7
}

.footer-action-link:hover {
  opacity: 1;
}

.footer-action-link:active {
    opacity: 3;
}

.footer-logo-link:hover {
  opacity: 0.6;
}

.footer-logo-link:active {
  opacity: 0.3;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-text {
  color: var(--basic-white);
  margin: 40px auto 60px 0;
  line-height: 20px;
}

.footer-nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  column-gap: 36px;
  margin: 72px auto 67px;
}

.footer-nav-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer-nav-link:hover {
  opacity: 0.6;
}

.footer-nav-link:active {
  opacity: 0.3;
}

.social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.social-link {
  opacity: 0.3;
}

.social-link:hover {
  opacity: 0.6;
}

.social-link:active {
  opacity: 0.1;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 33px;
}

.tel-link {
  color: var(--basic-white);
}

.education-link {
  margin-top: 8px;
}

.education-link:hover {
  opacity: 0.6;
}

.education-link:active {
  opacity: 0.3;
}

.rectangle-yellow {
width: 80px;
  height: 7px;
  background: var(--basic-yellow);
}

.modal-letter {
  width: 960px;
  height: 550px;
  background: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
}

.modal p:first-of-type {
  text-align: right;
}

.modal-close {
  width: 55px;
  height: 55px;
  background: var(--basic-yellow);
  opacity: 0.5;
  border-radius: 50%;
  border: none;
  position: relative;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 4px;
  background-color: var(--basic-white);
  top: 45%;
  left: 25%;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.7;
}

.letter-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  padding-left: 100px;
}

.letter-form p {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.letter-form label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: var(--basic-black);
}

.letter-input {
  background: var(--basic-light-grey);
  opacity: 0.4;
  width: 360px;
  height: 50px;
  padding-left: 20px;
  box-sizing: border-box;
  border: none;
}

.letter-input:hover,
.letter-textarea:hover {
  background: var(--basic-grey);
  opacity: 0.4;
}

.letter-input:focus,
.letter-textarea:focus {
  background: var(--special-opacity);
  outline: none;
  border: 2px solid var(--basic-light-yellow);
  opacity: 1;
  color: var(--basic-black) 40%;
}

.letter-input:invalid {
  background: var(--special-rose);
  opacity: 0.4;
}

.letter-textarea {
  background: var(--basic-light-grey);
  opacity: 0.4;
  width: 760px;
  height: 167px;
  padding-left: 20px;
  box-sizing: border-box;
  border: none;
}

.letter-textarea::placeholder,
.letter-input::placeholder {
  font-family: "Open Sans", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--basic-black);
}

.letter-button {
  margin-top: 30px;
  border: none;
  width: 200px;
  background-color: var(--special-opacity);
}

.letter-button:active {
  background: var(--basic-black);
  color: var(--basic-white);
}

/*каталог*/
.main-catalog {
  font-size: 14px;
}

.link-user-active {
  opacity: 0.3;
}

.name-user{
  margin-right: 20px;
}

.title-page {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  padding-left: 60px;
  padding-right: 60px;
}

.breadcrumbs-list {
  list-style-type: none;
  margin: 0;
  padding: 0 60px 50px;
  display: flex;
}

.breadcrumbs-link {
  opacity: 0.3;
}

.breadcrumbs-link::after {
  content: "";
  border: solid var(--basic-black);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 0 14px;
}

.breadcrumbs-item:last-of-type > .breadcrumbs-link::after {
  content: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.1;
}

.catalog {
  background: var(--basic-light-grey);
}

.catalog-layout {
display: grid;
grid-template-columns: 1fr 760px;
grid-template-rows: repeat(3, min-content);
gap: 70px;
}

.catalog-layout::before {
content: '';
z-index: 0;
grid-column: 1 / 2;
grid-row: 1 / 2;
margin-left: -100vw;
background-color: var(--basic-dark-grey);
}

.catalog-layout::after {
content: '';
z-index: 0;
grid-column: -2 / -1;
grid-row: 2 / 4;
width: 100vw;
margin-left: -100vw;
background-color: var(--basic-white);
transform: translatex(-100vw);
box-shadow: 200vw 0px 0px 70px var(--basic-white);
}

.catalog-filter-title {
  z-index: 1;
grid-area: 1 / 1;
padding: 12px 70px 12px 60px;
}

.filter-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-form {
grid-area: 2 / 1 / -1 / 2;
padding: 0px 70px 0px 60px;
}

.filter-fieldset {
  border: none;
  max-width: 200px;
  margin-bottom: 37px;
}

.filter-fieldset legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.1em;
  padding-top: 16px;
  border-top: 2px solid var(--basic-black);
  width: 200px;
}

.filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-button {
  border: none;
  width: 200px;
  box-sizing: border-box;
  background-color: var(--special-opacity);
}

.sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 30px;
}

.sort-direction-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 5px;
}

.sort-link-arrow:hover {
  opacity: 0.4;
}

.sort-link {
  opacity: 0.3;
}

.sort-link:hover {
  opacity: 0.6;
}

.sort-link-arrow:active,
.sort-link:active,
.sort-link-active {
  opacity: 1;
}

.products {
  z-index: 1;
  grid-area: 2 / 2;
}

.cards-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 760px;
}

.card-item {
  display: grid;
  place-items: center;
  width: 360px;
  height: 460px;
  font-size: 50px;
  font-weight: 700;
}

.card-wrap {
  position: relative;
  order: -1;
}

.card-wrap:hover .card-action {
  opacity: 1;
}

.card-action {
  background: rgba(238, 238, 238, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.catalog-button {
  position: absolute;
  border: none;
  width: 200px;
  box-sizing: border-box;
  top: 171px;
  left: 77px;
  background-color: var(--special-opacity);
}

.compare-button {
  font-family: "Open Sans", "Roboto", sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.1em;
  opacity: 0.5;
  border: none;
  background-color: var(--special-opacity);
  position: absolute;
  text-align: center;
  top: 224px;
  left: 97px;
}

.compare-button:hover {
  opacity: 1;
}

.compare-button:focus {
  opacity: 0.2 ;
}

.card-link {
  display: grid;
  grid-template-columns: 1fr max-content;
  padding-top: 30px;
  font-family: "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.03em;
}

.card-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.card-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  margin: 0;
}

.products-nav {
  z-index: 1;
  grid-area: 3 / 2;
  display: flex;
  justify-content: space-between;
  background-color: var(--basic-light-grey);
  align-items: center;
  padding: 0 30px;
}

.go-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 30px;
  padding: 25px 30px;
}

.go-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  opacity: 0.3;
}

.go-item {
  flex-shrink: 1;
  flex-grow: 0;
}

.go-link-active {
  opacity: 1;
}

.go-link:hover {
  opacity: 0.6;
}

.go-link:active {
  opacity: 1;
}

.go-button {
  border: none;
  background-color: var(--special-opacity);
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.go-button:hover {
  background: #D9D9D9;
}

.go-button:active {
  background: #D9D9D9;
  opacity: 0.3;
}

.button-back {
  margin-right: auto;
}

.button-next {
  margin-left: auto;
}
